/* Box Model Hack */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Layout */
@-ms-viewport {
    width: device-width;
}

@media only screen and (min-width: 869px) and (max-width: 1920px) {
    .pictures {
        width: 250px;
        height: 250px;
    }
}

/* Styling */

body {
    background-color: #02bfe7;
}

#main-container {
    display: flex;
}

.welcomeSection {
    /* border: 2px solid green; */
    min-height: 5vh;
    padding: 1% 0 1% 0;
    text-align: center;
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.stepAndPrepLogo {
    width: 10%;
    border-radius: 100%;
    border: 4px solid black;
}

#schedule-container {
    border: 3px solid blue;
    border-radius: 10px;
    width: 30vw;
}

.image-container {
    text-align: center;
    /* border: 3px solid blue; */
    margin: 2%;
}

/* -- Text Boxes -- */

#activity {
    width: 55%;
}

input[type=text] {
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
}

.fontStyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.pictures {
    border: 2px solid black;
    width: 45%;
    height: 45%;
    object-fit: cover;
    background-color: #FFFFFF;
}

.images-appear-here {
    border: 3px solid purple;
    border-radius: 10px;
    padding-top: 1%;
    text-align: center;
    /* width: 70vw; */
    flex: 1;
}

.displayedPictures {
    width: 19%;
    border: 2px solid black;
    background-color: #FFFFFF;
}

.hidden{
	display: none;
}

.footer {
    /* border: 2px solid green; */
    min-height: 5vh;
    padding: 1% 0 1% 0;
    text-align: center;
    margin-top: auto;
}

.footerFontStyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

/* footer span a {
    text-decoration: none;
} */